__pycache__
*.egg
*.egg-info
.sconf_temp
.sconsign.dblite
*.log
version.py

# pytest
tests/.tests
pytest_session.txt
.hypothesis
.pytest_cache
.coverage

# editors
.idea
.vscode

# ts_pre_commit_conf
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
